body {
  position: relative;
  height: 100vh;
}

header label {
  position: relative;
  cursor: pointer;
  font-size: 1.8rem;
}

header ul li {
  z-index: 10;
}

header label:hover {
  opacity: 0.6;
}

#checkbox {
  display: none;
}

.close {
  display: none;
}

#checkbox:checked + header .open {
  display: none;
}

#checkbox:checked + header .close {
  display: block;
}

#checkbox:checked + header nav {
  display: flex;
}