body {
  position: relative;
  height: 100vh;
}

header {
  label {
    position: relative;
    cursor: pointer;
    font-size: 1.8rem;
  }

  
  ul li {
    z-index: 10;
  }

  label:hover {
    opacity: 0.6;
  }
}


#checkbox {
  display: none;
}

.close {
  display: none;
  z-index: 2;
}

#checkbox:checked + header {
  .open {
    display: none;
  }

  .close {
    display: block;
  }

  nav {
    display: flex;
  }
}