$breakpoints: (
    "phone" : 400px,
    "phone-wide" : 480px,
    "phablet" : 560px,
    "table-small" : 640px,
    "table" : 768px,
    "table-wide" : 1024px,
    "desktop" : 1248px,
    "desktop-wide" : 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        
        $width: map_get($breakpoints, $width);
        
        @if $type == max {
            $width: $width - 1;
        }
        
        $parent: &;
        
        @media all and (#{$type}-width: $width) {
            @at-root #{$parent} {
                @content;
            }
        }
    }
}

$buttons: (
    "red": #E91E63,
    "purple": #9C27B0,
    "blue": #00BCD4,
    "green": #8BC34A,
    "orange": #FFC107,
    "brown": #795548,
    "black": #000
);

@function btn-text-color($bgColor) {
    @if (lightness($bgColor) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@each $name, $color in $buttons {
    .button.#{$name} {
        background: $color;
        color: btn-text-color($color);
    }
}