header {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 0.5rem;
}

hr {
    width: 15%;
    margin: 0 auto;
    background: #000;
    border: none;
    height: 2px;
}