<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
    <header>
        <h1>{{site.description}} 5</h1>
        <hr>

        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="{{site.baseurl}}/about/">About</a></li>
                <li><a href="{{site.baseurl}}/pictures/">Pictures</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>
