<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}} 3</title>
    <link rel="stylesheet" href="blog/css/style.css">
</head>
<body>
    <header>
        <h1>{{site.description}}</h1>
        <hr>

        <nav>
            <ul>
                <li><a href="blog/">Home</a></li>
                <li><a href="blog/about/">About</a></li>
                <li><a href="blog/pictures/">Pictures</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>