<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
    <input type="checkbox" id="checkbox">
    <header>
        <h1>{{site.description}}</h1>
        <hr>
        <label for="checkbox" class="open"><span class="far fa-eye"></span></label>
        <label for="checkbox" class="close"><span class="far fa-eye-slash"></span></label>
        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/"><span class="fas fa-home"></span>Home</a></li>
                <li><a href="{{site.baseurl}}/about/"><span class="fas fa-info"></span>About</a></li>
                <li><a href="{{site.baseurl}}/pictures/"><span class="far fa-image"></span>Pictures</a></li>
                <li><a href="{{site.baseurl}}/login/"><span class="fas fa-sign-in-alt"></span>Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>

    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>